/*Selectores de Universal
{
    border: 1px solid red;
    margin: 10px;
}

Selectores de Etiqueta
header{
    background: blue;
}

section{
    background: purple;
}

Selectores Desendentes
article h3{
    color: green;
}

Selectores de Clases
.tittle-a{
   background: yellow;
}
.tittle-b{
    background: salmon;
}

Selectores de Id
#header{
  border: 3px solid black;   
}

#portada{
  border: 3px solid orange;       
}

#guitarras{
  border: 3px solid brown;   
}*/
.button{
    border-radius: 8px;
    color:white;   
    border:none;
    padding:10px;
    background: #FD324E;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background: linear-gradient(to left,#FE344E,#FF7250);
}
.button:hover{
    background: linear-gradient(to left,#FE344E/*Derecha*/,#FF7250/*Izquierda*/);
    box-shadow: 2px 2px 10px white;
    cursor: pointer;
  }

body{
font-family: 'Allerta Stencil', sans-serif;
    
}
.header{
    position: relative;
}
.contenedor{
    width: 800px;
    margin: auto;
}
.portada button{
    margin-bottom: 70px;
}

.menu{
    font-size: 24px;
     display: inline-block;
     position:absolute;
     right: 0;
}
        .menu a{
            color:blue;
            text-decoration: none;
        }
.logo{
    display: inline-block;
    margin-left: 0;
}
    .menu li {
        display: inline-block;
        margin-left: 30px;
    }

.portada{
    background: url(../img/background.png);
    background-size: cover;
    color: white;
    padding: 20px;
    height: 500px;
}
.titulo{
  font-family: 'Montserrat', sans-serif;
  font-size: 70px; 
  margin-bottom: 0;
  margin-top: 70px;
}
    .titulo span{
        text-decoration: underline;
    }
.title-a{
    font-size: 24px;
    margin-top: 0;
}
.title-b{
    font-size: 50px;
    margin-bottom: 20px;
}
.guitarras{
    color:#1F313C;
}

.guitarras h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px; 
}

.guitarra{
    padding: 10px;
    margin: 10px;
    /*overflow: hidden;*/
    border: 1px solid #1F313C;
    border-radius: 10px 35px 10px 35px;
}
    .guitarra ol{
        padding: 0;
    }
        .guitarra.gui-alto{
            height: 240px;
        }
.contenedor-guitarra-a{
  padding-left: 20px;
}
.contenedor-guitarra-b{
  margin-left: 370px;
  position: relative;
    bottom: 90px;
}
        .derecha{
            float:right;
            position: relative;
            top:-127px;
        }
        .izquierda{
            float: left;
            position: relative;
        }

.footer{
    background: #273B47;
}
/*------------------------Padre Contenedor-----------------------*/
.footer .contenedor{
    display: flex;
    justify-content: space-between;
}

/*---------------------------Hijo del Contenedor--------------------*/
.contacto{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    align-items: center;
}
    .contacto img{
        display: block;
        margin-top:50px; 
    }
        .contacto a{
            color:white;
            text-decoration: none;
            margin: 10px 10px 10px 0;
        }
            .contacto strong{
                display: block;
                text-align: center;
                margin: 0 0 10px 0;
            }

/*---------------------------Hijo del Contenedor y a la vez es Padre Formulario--------------------*/
.formulario{
    display: flex;
    width: 400px;
    color: white;
    padding: 50px 10px;
}
    .formulario label, .sexo, .intereses{
        margin-bottom: 12px;
    }

/*---------------------------Hijo del Formulario--------------------*/
    .col1{
        margin-right: 18px;
        padding: 10px;
    }
        .sexo{
            margin-top:12px; 
        }
        .intereses label{
            font-size: 12px;
           }


/*---------------------------Hijo del Formulario--------------------*/
.col1,.col2{
    display: flex;
    flex-direction:column; 
}
.col2{
    align-items: flex-start;
}


table{
    width: 100%;
    margin-bottom: 10px;
}
    th{
        background: #373B47;
        color: white;
        padding: 20px;
        text-align: left;
    }
    td{
        padding: 25px;
        text-align: justify;
    }
table,th,td{
    border: 1px solid #373B47;
    border-collapse: collapse;
}